
  .modal-header {
    background-color: #008ec4;
    color: white;
}

[type="submit"] {
  background-color: #008ec4;
  color: white;
  &:hover {
    background-color: #89b5ca;
  }
}


.close {
  outline: none;
  color: white;
  &:hover {
    color: blue
  }
}
.error {
  color: #ce0e67;
  font-size: 14px;
}
